
.list-group {
    max-height: 80vh;
    margin-top: 20px;
    overflow: auto;
}

.list-group-item {
    border: 0;
}

.badge {
    background: #253b56;
}

.list-group-item:hover {
    background: #eee;
    color: #253b56;
    cursor: pointer;
}

thead {
    border-bottom: 2px solid #253b56;
}

tr > th {
    padding-bottom: 10px;
    text-align: right;
}

.table-container {
    height: 70vh;
}
.table-fixed {
    height: 60vh;
    overflow-y: auto;
    position: absolute;
    width: 100%;
}

tr > td:first-child {
    text-align: left;
}

tr > td:hover {
    color: #253b56;
    cursor: pointer;
}

tr > td {
    padding: 10px 0;
}

tr > td:first-child {
    width: 500px;
}

tr > td:nth-child(2) {
    width: 80px;
}

tr > td:last-child {
    text-align: right;
}

h5 {
    color: #a09e9e;
}

.progress {
    background-color: rgb(107, 103, 103);
    border-radius: 50px;
    display: inline-block;
    margin: 5px 15px 0 0;
    width: 110px;
}

.progress-bar {
    color: #fff;
    text-transform: uppercase;
}
