
.list-group {
    max-height: 80vh;
    margin-top: 20px;
    overflow: auto;
}

.list-group-item {
    border: 0;
    padding: 10px 0;
}

.badge {
    background: #253b56;
}

.list-group-item:hover {
    background: #eee;
    color: #253b56;
    cursor: pointer;
}

thead {
    border-bottom: 2px solid #253b56;
}

tr > th {
    padding-bottom: 10px;
    text-align: right;
}

.table-fixed {
    height: 68vh;
    overflow-y: auto;
    position: absolute;
    width: 100%;
}

tr > td:first-child {
    text-align: left;
}

tr > td:hover {
    color: #253b56;
    cursor: pointer;
}

tr > td {
    padding: 10px 0;
}

tr > td:first-child {
    width: 500px;
}

tr > td:nth-child(2) {
    width: 80px;
}

tr > td:last-child {
    text-align: right;
}

h5 {
    color: #a09e9e;
}

.loader {
    border: 2px solid #f3f3f3; /* Light grey */
    border-top: 2px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.emotion {
    align-items: center;
    display: flex;
    margin: 16px 0;
}

.progress {
    background-color: rgb(107, 103, 103);
    border-radius: 10px;
    margin: 5px 10px;
    width: 110px;
}

.progress:last-child {
    margin-right: 0;
}

.progress-bar {
    color: #fff;
    text-transform: uppercase;
}
